vendor/etc/camera/vidhance.lic
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Messages/Messages.apk
bootRE/boot.elf
modem.img
system_ext/apex/com.android.vndk.v30.apex
system/system/app/AsusSetupWizard/AsusSetupWizard.apk
system/system/app/NextAppCore/NextAppCore.apk
system/system/etc/preload/com.google.android.apps.photos.apk
system/system/priv-app/AsusGallery/AsusGallery.apk
system/system/priv-app/AsusTips/AsusTips.apk
system/system/priv-app/AsusSettings/AsusSettings.apk
system/system/priv-app/GameBroadcaster/GameBroadcaster.apk
system/system/priv-app/AsusCamera/AsusCamera.apk
system/system/priv-app/MLModel/MLModel.apk
recovery.img
